<div class="container">
    <div class="d-flex justify-content-center mt-20px mb-20">
        <h1 class="font-weight-extra-bold text-white">Olá pessoa, meu nome é Leonardo Liz!</h1>
    </div>

    <div class="mt-50px row">
        <div data-aos="zoom-out-right" class="fundo col-md-6 p-3">
            <div class="text-center mb-20px">
                <h3 class="text-white">Perfil profissional </h3>
            </div>
            <div class="d-flex justify-content-between">
                <img src="../../../assets/Eu.png" style="border-radius: 15px;" alt="">
                <div class="col-md-6 text-white bi--xl">
                    <br>
                    Nome: Leonardo Liz <br>
                    Idade: 24 anos <br>
                    Profissão: Desenvolvedor <br>
                    Cargo: FullStack <br>
                    Nivel: Pleno <br>
                    Tecnologia de destaque: Angular v8+ <br>
                    Trabalha atualmente: Siapro Sistemas <br>
                    Tempo de Carreira: 3 Anos <br>
                </div>
            </div>

        </div>
        <div class="col-md-6">
        </div>

    </div>
    <div class="mt-50px row">

        <div class="col-md-6">
        </div>
        <div class="fundo col-md-6">
            <div class="text-center mb-20px">
                <h3 class="text-white">Pessoal</h3>
            </div>
            <div class="d-flex justify-content-center">
                <img src="../../../assets/familia.PNG" style="border-radius: 15px;" alt="">


            </div>
            <div class="col-md-12 text-white bi--xl ">
                <div class="d-flex justify-content-between">
                    <span>Sou pai de um príncipe com o nome de Gael, amo estar com minha esposa e meus filhos, tive
                        momentos que somente o trabalho em home office pode me proporcionar pois posso acompanhar o
                        crescimento de toda minha familia. </span>
                </div>
            </div>
        </div>

    </div>


</div>