<div class="container p-3">
    <div class="d-flex justify-content-center mb-20">
        <h1 class="font-weight-extra-bold text-white">O que é a ISO 19001:2018?</h1>
    </div>

    <div class="fundo d-flex justify-content-center align-items-center mt-20px p-3">
        <span class="text-white text-center">
            <p class=" bi--xl">
                ISO 19001:2018 é o nome dado a edição mais recente desta norma e que age sobre a de número 19001.
            </p>

            <p class="bi--xl">
                Esta, por sua vez, foi criada no Comitê de Qualidade, mais precisamente pela Comissão de Estudos de
                Tecnologia de Suporte.
            </p>

            <p class=" bi--xl">
                Ela surgiu no ano de 2002 para orientar a gestão de programas de auditorias, seja quanto a monitoramento
                interno ou externo de sistemas. É utilizada também, em programas de gestão de qualidade ou ambiental.
            </p>

            <p class=" bi--xl">
                Por outro lado, através da ISO 19001 era feita a análise da competência e avaliação de auditores.
            </p>

            <p class=" bi--xl">
                A nova versão dessa Norma, contém “Diretrizes para Auditorias de Sistema de Gestão” e oferece uma nova
                abordagem.
            </p>


            <p class=" bi--xl">
                Dessa forma, auxilia que as auditorias sejam eficazes em vários sistemas ao mesmo tempo.
            </p>


        </span>

    </div>
    <div class="fundo d-flex justify-content-center align-items-center mt-20px p-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DJZnRWV9DC4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>






</div>