<div class="container p-3">
    <div class="d-flex justify-content-center mt-20px mb-20">
        <h1 class="font-weight-extra-bold text-white">Quais as últimas mudanças sofridas por essa norma?</h1>
    </div>


    <div class="fundo d-flex justify-content-center align-items-center mt-20px p-3">
        <span class="text-white text-center">

            <p class=" bi--xl">
                Como citado anteriormente, a versão elaborada no ano de 2018 é a terceira versão da norma ISO 19001.
                Esta
                versão substitui a edição anterior, feita no ano de 2012, que foi tecnicamente revisada e analisada.
            </p>

            <p class="bi--xl">
                Sendo assim, as principais diferenças que esta nova publicação possui, em detrimento da anterior, conta
                com
                os seguintes pontos:

            </p>

            <span class="text-start ml-100px mb-20px">
                <ul>
                    <li class="bi--xl">
                        inclusão de uma abordagem tendo como base os riscos dos princípios de auditoria;
                    </li>
                    <li class="bi--xl">
                        aumento na orientação sobre a gestão de programa de auditoria, incluindo aqui os riscos do
                        programa
                        de
                        auditoria;
                    </li>
                    <li class="bi--xl">
                        ampliação da orientação para condução de um monitoramento, principalmente na seção sobre
                        planejamento desta
                        ação;
                    </li>
                    <li class="bi--xl">
                        maior quantidade de requisitos genéricos de competência para o auditores, sejam eles
                        independentes
                        ou não;
                    </li>


                    <li class="bi--xl">
                        regulagem na terminologia para refletir o processo, e não o objeto, chamado de coisa;
                    </li>
                </ul>
            </span>


            <p class=" bi--xl mt-20px">
                retirada do anexo que continha requisitos de competência para monitorar disciplinas específicas do
                sistema
                de gestão.
                Para o penúltimo ponto, encontramos pontos como contexto organizacional, liderança e comprometimento,
                auditorias virtuais, compliance e cadeia de suprimento.
            </p>

            <p class=" bi--xl">
                Vale pontuar, no entanto, que de acordo com essa nova edição da norma, a auditoria de sistema de gestão
                não
                deve ser entendida como uma auditoria de compliance.
            </p>

            <p class=" bi--xl">
                Já para o último tópico, entretanto, a remoção do anexo com os requisitos foi causada pelo grande número
                de
                normas particulares já existentes para os sistemas de gestão.
            </p>


            <p class=" bi--xl">
                Sendo assim, não seria funcional, de acordo com a Associação Brasileira de Normas Técnicas (ABNT),
                incluir
                exigências de competência para todas as medidas.
            </p>


        </span>

    </div>
</div>