<div class="container p-3">
    <div class="d-flex justify-content-center mt-20px mb-20">
        <h1 class="font-weight-extra-bold text-white">como pode afetar empresas?</h1>
    </div>


    <div class="fundo d-flex justify-content-center align-items-center mt-20px p-3">
        <span class="text-white text-center">
            <p class=" bi--xl">
                Analisando de forma geral, é possível observar que a ABNT NBR ISO 19001 permite que a empresa conheça
                alguns pontos cruciais.
            </p>

            <span class="text-start ml-100px mb-20px">
                <ul>
                    <li class="bi--xl">
                        atividades de auditorias, no qual estão contidas as orientações sobre como deve ser feito e
                        sobre a seleção da equipe de auditores;
                    </li>
                    <li class="bi--xl">
                        competência e avaliação dos auditores com indicação sobre a competência que um auditor deve ter;
                    </li>
                    <li class="bi--xl">
                        princípios de auditoria que ajudam a entender a sua natureza essencial;
                    </li>
                    <li class="bi--xl">
                        gerenciamento do programa de auditoria.
                    </li>
                </ul>
            </span>

            <p class="bi--xl mt-20px">
                Neste último ponto são oferecidas diretrizes para que a empresa tenha uma gestão de programa eficiente.
            </p>

            <p class=" bi--xl">
                Para isso, são consideradas responsabilidades, coordenação de atividades, disponibilização de recursos e
                os objetivos da empresa.
            </p>

            <p class=" bi--xl">
                A ISO 19001 tem especial importância para empresas que desejam estar em compliance, uma vez que as
                auditorias são responsáveis por validar essa adequação.
            </p>

            <p class=" bi--xl">
                Dessa forma, saber como realizar uma auditoria corretamente é essencial para qualquer empresa.
            </p>


            <p class=" bi--xl">
                Destacamos aqui a necessidade de adequação, por exemplo, à Lei Geral de Proteção de Dados (LGPD), que se
                aplica a todas as empresas de direito público ou privado que realizam o tratamento de dados.
            </p>
            <p class=" bi--xl">
                Nesse caso, um sistema de auditoria se faz fundamental para livrar a empresa de multas e sanções
                aplicadas em caso de descumprimento da lei.
            </p>
            <p class=" bi--xl">
                No mais, a ISO 19001:2018 oferece uma abordagem estável e correta para que a auditoria seja eficaz em
                pontos como o método utilizado e o conhecimento do auditor, sendo benéfico para quem contrata e para
                quem a faz.
            </p>


        </span>

    </div>
</div>